* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.kotak {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(255, 255, 255);
}

img {
    padding-top: 20px;
}

label {
    color: rgb(255, 255, 255);
    padding: auto;
}

input {
    display: block;
}

.form-input {
    padding: 15px;
    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    cursor: text;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btn-submit,
#btn-cancel {
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(19, 190, 76);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    width: 48%; 
    cursor: pointer;
}

#btn-submit:hover,
#btn-cancel:hover {
    background-color: rgb(167, 231, 130);
    color: black;
}