* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.kotak {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: green;
}


label,
input {
    display: block;
}

.form-input {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    cursor: text;
    width: 100%;
}

#btn-submit {
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(19, 190, 76);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    margin: center;
    width: 100%;
}
#btn-submit:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}